<div th:fragment="header">
	<div class="page-header">
		<div class="header-wrapper row m-0" style="padding: 5px 25px 5px 25px;">
			<div class="header-logo-wrapper col-auto p-0">
				<div class="logo-wrapper">
					<a href="index.html"> <img class="img-fluid main-logo" src="../../assets/images/logo/logo.png"
							alt="logo"> <img class="img-fluid white-logo" src="../../assets/images/logo/logo-white.png"
							alt="logo">
					</a>
				</div>
				<div class="toggle-sidebar">
					<i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
				</div>
			</div>

			<div class="form-inline search-full col">
				<nav>
					<ul class="breadcrumb">
						<li th:each="breadcrumb : ${breadcrumbs}" th:text="${breadcrumb.title}">
							<a th:href="${breadcrumb.url}">Breadcrumb</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="nav-right col-4 pull-right right-header p-0">
				<ul class="nav-menus">
					<li><span class="header-search"> <span class="lnr lnr-magnifier"></span>
						</span></li>

					<li>
						<div class="mode">
							<span class="lnr lnr-moon"></span>
						</div>
					</li>

					<li class="maximize"><a class="text-dark" href="javascript:void(0)!"
							onclick="javascript:toggleFullScreen()">
							<span class="lnr lnr-frame-expand"></span>
						</a></li>
					<li class="profile-nav onhover-dropdown pe-0 me-0">
						<div class="media profile-media">
							<img class="user-profile rounded-circle" src="../../assets/images/users/4.jpg" alt="">
							<div class="user-name-hide media-body">
								<span th:text="${#authentication.name}">Email/Username</span>
								<p class="mb-0 font-roboto" th:text="${#authentication.authorities[0]}">
									Role<i class="middle fa fa-angle-down"></i>
								</p>

							</div>
						</div>
						<ul class="profile-dropdown onhover-show-div">
							<!--<li><a href="all-users.html"> <i data-feather="users"></i>
									<span>Users</span>
								</a></li>
							<li><a href="order-list.html"> <i data-feather="archive"></i>
									<span>Orders</span>
								</a></li>
							<li><a href="support-ticket.html"> <i data-feather="phone"></i> <span>Spports Tickets</span>
								</a></li>-->
							<li><a th:href="@{/admin/edit-password}"> <i data-feather="settings"></i> <span>Change
										Password</span>
								</a></li>
							<!--<li><a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="javascript:void(0)">
									<i data-feather="log-out"></i> <span>Log out</span>
								</a></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>